{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
  {% comment %} <li class="breadcrumb-item active">Admin Document File</li> {% endcomment %}
{% endblock %}

{% block content %}

    <div class="mb-4">
        <a href="{% url 'upload_document' %}" class="btn btn-primary">upload document</a>
    </div>

      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th></th>
            
            <th>Title</th>
            {% comment %} <th>Emails Sent</th> {% endcomment %}
            {% comment %} <th>Downloads</th> {% endcomment %}
            <th>Download</th>
            <th>Send Email</th>
          </tr>
        </thead>
        <tbody>
          {% for document in documents %}
            <tr>
              <td>
                <td>{{ document.title }}<br>
                <small class="text-muted d-block">{{ document.description }}</small>
              </td>
              {% comment %} <td class="align-middle">{{ document.download_count }}</td>
              <td class="align-middle">{{ document.email_count }}</td> {% endcomment %}
              {% comment %} <td>{{ document.description }}</td>  {% endcomment %}
            
              <td>
                <form method="get" action="{% url 'download_document' document.id %}">
                  <button type="submit" class="btn btn-success">Download</button>
                </form>
              </td>
              <td>
                <a href="{% url 'send_email' document.id %}">Send Email</a>
              </td> <!-- New column -->
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}