{% extends 'base.html' %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Send Mail</li>
  <li class="breadcrumb-item active">{{ send_email.name }}</li>
{% endblock %}

    {% block content %}
        {% comment %} <h2>Send Document via Email</h2>
        <form method="post">
            {% csrf_token %}
            <label for="recipient_email">Recipient Email:</label>
            <input type="email" id="recipient_email" name="recipient_email" required>
            <button type="submit" class="btn btn-success">Send</button>
        </form> {% endcomment %}
        <h2>You want to Send {{ document.title }} </h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="recipient_emails">Recipient Email</label><br>
            <label for="recipient_emails">For multiple Emails use (comma separated):</label>
            <textarea class="form-control" id="recipient_emails" name="recipient_emails" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
    {% endblock %}
    </div>
  </body>
</html>